body, html{
    margin: 0;
    padding: 0;
    color: #212529;
    background-color: rgb(255, 255, 255);
    width: 350px;
}
#container {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
}
#status{
    font-size: 1.5em;
}
#downloadFeedback{
    color: red;
    font-size: 1.2em;
}
#terms-list-count{
    margin-bottom: 3px;
    font-size: 1.3em;
}
#terms-list{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
#terms-list thead{
    background-color: #0d6efd;
    color: white;
}
#terms-list thead th{
    padding: 1em 0;
    word-break: break-word;
    overflow-wrap: break-word;
}
#terms-list tbody td{
    border: 1px solid lightgray;
    word-break: break-word;
    overflow-wrap: break-word;
    padding: 3px;
}

.btn{
    border: 2px solid #198754;
    border-radius: 10px;
    background-color: white;
    padding: .7em;
    color: #212529;
}
.btn:hover{
    background-color: #198754;
    color: white;
    cursor: pointer;
}

.spinner{
    margin-left: 10px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 4px solid rgba(0,0,0,.1);
    border-top: 4px solid rgb(13, 110, 253);
    border-radius: 50%;

    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}
@keyframes spin{
    0%{
        rotate: 0;
    }
    100%{
        rotate: 360deg;
    }
}


.align-center{
    display: flex;
    align-items: center;
}
.align-center.gap{
    gap: 10px;
}